
  <mat-drawer-container class="dashboard-container">
    <mat-drawer #sidenav mode="side" [mode]="'over'" style="width: 30%" (click)="sidenav.toggle()">
      <mat-list>
        @for (i of routes; track $index) {
          <a 
            mat-list-item 
            routerLink="{{i.route}}" 
            routerLinkActive="active" 
            ariaCurrentWhenActive="page">
          <mat-icon matListItemIcon>{{i.icon}}</mat-icon>
          <div matListItemTitle>{{i.name}}</div>
        </a>
        <mat-divider></mat-divider>
        }
          <a (click)="logout()" mat-list-item>
              <mat-icon matListItemIcon>logout</mat-icon>
              <div matListItemTitle>Cerrar sesión</div>
          </a>        
      </mat-list>
    </mat-drawer>
    <mat-drawer-content class="dashboard-container">
        <mat-toolbar>
            <button
            (click)="sidenav.toggle()"
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
            >
            <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <div *ngIf="authUser$ | async; let user">
              <span>{{user.firstName}} {{user.lastName}}</span>
            </div>
        </mat-toolbar>
        <div class="p-3">
          <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
  </mat-drawer-container>