
  <mat-drawer-container class="dashboard-container">
    <mat-drawer #sidenav mode="side" [mode]="'over'" style="width: 30%" (click)="sidenav.toggle()">
      <mat-list>
        <a mat-list-item routerLink="users" routerLinkActive="active" ariaCurrentWhenActive="page">
          <mat-icon matListItemIcon>group</mat-icon>
          <div matListItemTitle>Usuarios</div>
        </a>          
        <mat-divider></mat-divider>
          <a mat-list-item routerLink="courses" routerLinkActive="active" ariaCurrentWhenActive="page">
            <mat-icon matListItemIcon>school</mat-icon>
            <div matListItemTitle>Cursos</div>
          </a>
          <mat-divider></mat-divider>
          <a (click)="logout()" mat-list-item>
              <mat-icon matListItemIcon>logout</mat-icon>
              <div matListItemTitle>Cerrar sesión</div>
          </a>        
      </mat-list>
    </mat-drawer>
    <mat-drawer-content class="dashboard-container">
        <mat-toolbar>
            <button
            (click)="sidenav.toggle()"
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
            >
            <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
        </mat-toolbar>
        <div class="p-3">
          <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
  </mat-drawer-container>